# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.*
!.env.example

# Build/coverage
dist/
build/
coverage/

# Editor
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
